<div class="left">
<h2>編集 <%= resource_name.to_s.humanize %></h2>

<%= form_for(@user) do |f| %>

        <h4>名前</h4>
        <%= f.text_field :name %>

        <h4>画像</h4>
        <%= f.attachment_field :profile_image %>
        <h4></h4>
       	<%= f.submit '更新' %>
        <h4></h4>
        <%= link_to "戻る", :back %>
<% end %>
</div>
