<div class="container">
		<div class="row">

		<div class="col-xs-3">
			<%= render "users/profile", user: @user %>
		</div>

		<div class="col-xs-9">
			<h2>アニマル詳細</h2>

	    <table class="table">
		  <thead>
		    <tr>
		      <th></th>
		      <th>タイトル</th>
		      <th></th>
		      <th>説明</th>
		    </tr>
		</thead>

	  	<tbody>
		  <tr>
		  	<td><%= attachment_image_tag @user, :profile_image, size: "30x30", fallback: "no_image.jpg" %>
		  		<br>
		  		<%= link_to @animal.user.name,user_path(@animal.user.id) %>
		    </td>

		    <td><%= @animal.animal_name %></td>

		    <td><%= attachment_image_tag @animal, :image, :fill, 150, 150, format: 'jpeg' %></td>

		    <td><%= @animal.caption%></td>
		    <td>
			    <div id="animal_<%= @animal.id %>">
					<%= render 'likes/like', animal: @animal %>
				</div>
			</td>
		  </tr>
		</tbody>
	</table>

	<!-- <div> -->
		<%#= link_to 'delete', [@book,comment], method: :delete %>
	<!-- </div> -->

		<%#= form_for [@book,@comment] do |f| %>
		<%#= f.text_field :body %>
		<%#= f.submit %>
		<% #end %>
  			</div>
		</div>
	</div>
</div>
<%= link_to :back do %>
  <button>戻る</button>
<% end %>
