<!DOCTYPE html>
<html>
  <head>
    <title>Atsthm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- <nav class="navbar navbar-fixed-top navbar-inverse"> -->
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 class="title is-4" style="Comic Sans MS">Atsthm</h1>
        </div>
        <div class="collapse navbar-collapse" id="navbarEexample1">

          <ul class="nav navbar-nav navbar-right">
        <!-- (横並び) -->
        <% if user_signed_in? %>

              <li>
                <%= link_to ' ホーム', animals_path, class: "glyphicon glyphicon-home" %>
                </li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %>
                </li>

                <% end %>
      </ul>
    </div>
      <%= yield %>
  </body>
</html>